*{
margin: 0px;
padding: 0px;
}
#wrapper
{
	margin: 175px auto;
}

input {
	width: 200px;
	height: 200px;
	margin-right: 100px;
	font-size: 30px;
	line-height: 30px;
	border-radius: 100%;
	background: white;
	transition: transform .5s, border .5s, background .5s;
	border: 1px solid black;
}

input:hover{
	background: orange;
	transform: rotate(360deg);
	border: 60px solid black;
}
